use flake ~/nixos-config#android

export AIDER_LIGHT_MODE=true
export AIDER_ATTRIBUTE_AUTHOR=false
export AIDER_ATTRIBUTE_COMMITTER=false

export AIDER_MODEL="openrouter/anthropic/claude-3.7-sonnet"
export OPENROUTER_API_KEY=$(< $XDG_CONFIG_HOME/sops-nix/secrets/openrouter_api_key)
